*{
    box-sizing: border-box;
}

body{
    margin:0;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Shared Style */
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 50px;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

.text-center{
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

.secondary-bg{
    background-color: #FFF8F3;
}

/* Header */

.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    /* background-size: auto, cover; */
}

/* Nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}


/* Banner Styles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    gap: 40px;

}

.banner-content{
    max-width: 580px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-description{
    font-size: 18px;

}

.profile{
    width: 100%;
    max-width: 580px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    font-weight: 400;
    font-size: 20px;
}

.item-description{
    font-weight: bold;
    font-size: 20px;
}

/* Skill Section */

.skill-container{
    /* display: flex;
    gap: 24px;
    justify-content: space-around; */

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:24px;
}


.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, .06);
    border-radius: 5px;
}

.skill-title{
    font-size: 20px;
    font-weight: bold;
}

/* Resume */

.resume-container{
    display: flex;
    gap: 24px;
}

.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume hr{
    color: #D1D1D1;
    margin: 30px 5px;
}

.download-cv{
    margin-top: 50px;
}

.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.experience-title{
    color: #474747;
    font-size: 25px;
    margin-bottom: 10px;
}

.experience-subtitle{
    font-size: 20px;
    margin-bottom: 20px;
}

footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container {

    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}

.footer-container h2 {
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-container .social {
    max-width: 562px;
}

.footer-container .social p {
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-container .icons a {
    margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea {
    width:100%;
    max-width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;

    color: #757575
}


/* Hover */
.skill:hover{
    transform:translateY(-8px);
    transition:0.3s;
}

.btn-primary:hover{
    background:#cf5503;
    cursor:pointer;
}




/* ===============================
   Tablet Devices
================================ */

@media screen and (max-width: 992px){

    nav{
        margin:20px 40px;
    }

    .banner{
        flex-direction:column;
        text-align:center;
    }

    .skill-container{
        grid-template-columns:repeat(2,1fr);
    }

    .resume-container{
        flex-direction:column;
    }

    .footer-container{
        flex-direction:column;
        gap:40px;
    }

}


/* ===============================
   Mobile Devices
================================ */

@media screen and (max-width: 576px) {

    nav{
        flex-direction: column;
        margin: 20px;
    }

    nav ul{
        flex-direction: column;
        gap: 15px;
    }

    nav ul li{
        margin-right: 0;
    }

    .banner{
        flex-direction: column;
        margin: 20px;
        text-align: center;
    }

    .banner-title{
        font-size: 45px;
    }

    .banner-greetings{
        font-size: 30px;
    }

    .profile{
        width: 100%;
    }

    .about{
        padding: 40px 20px;
    }

    .about-items{
        flex-direction: column;
        gap: 20px;
    }

    .skill-container{
        grid-template-columns:repeat(1,1fr);
    }

    .resume-container{
        flex-direction: column;
        padding: 20px;
    }

    footer{
        flex-direction: column;
        width:100%;
        padding:0 20px;
    }

    .footer-column{
        width: 100%;
    }

}

